<%= render partial: 'layouts/header' %>
<%= render partial: 'shared/subheader', locals: {
		title: @policy.title, 
		image: @policy.header_image 
} %>

<style type="text/css">
	#policy_block ul {
		margin-left: 30px;
	} 

	#policy_block ul li {
		list-style: disc;
	}

	#policy_block ol li {
		list-style: decimal;
		margin-bottom: 10px;
	}

</style>

<section class="terms-and-conditions page-section-ptb">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12" id="policy_block">
        <%= @policy.policy_body.html_safe %>
     </div>
    </div>
  </div>
</section>


<%= render partial: 'layouts/footer' %>