<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(<%= image %>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1><%= title %></h1>
        </div>
          <!-- <ul class="page-breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="#">page</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>About us 02</span> </li>
       </ul> -->
     </div>
     </div>
  </div>
</section>
