<div class="row">
    <div class="col-lg-3 col-md-3 mb-60">
        <ul class="price">
            <li class="header">Private Limited Company</li>
            <li class="grey">₹ 999 </li>
            <li>Contrary to popular belief, Lorem
                is not simply random text. It has ro
                a piece of classical Latin literature
                up one of the more obscure Latin</li>
            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 mb-60">
        <ul class="price active">
            <li class="header">Limited Liability Partnership</li>
            <li class="grey">₹ 999 </li>
            <li>Contrary to popular belief, Lorem
                is not simply random text. It has ro
                a piece of classical Latin literature
                up one of the more obscure Latin</li>
            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 mb-60">
        <ul class="price">
            <li class="header">Once Person Company</li>
            <li class="grey">₹ 999 </li>
            <li>Contrary to popular belief, Lorem
                is not simply random text. It has ro
                a piece of classical Latin literature
                up one of the more obscure Latin</li>
            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 mb-60">
        <ul class="price">
            <li class="header">Partnership Company</li>
            <li class="grey">₹ 999 </li>
            <li>Contrary to popular belief, Lorem
                is not simply random text. It has ro
                a piece of classical Latin literature
                up one of the more obscure Latin</li>
            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>
</div>