<div id="gt3-contact-widget_body" class="drawer_sidebar" style="z-index: 10000;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="gt3-contact-widget_body">
        <div role="form" class="wpcf7" id="wpcf7-f452233-p15694-o2" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form class="custom-form custom_form_submit" data-success-id="success_message_1" action="<%= request_callback_enquiry_path %>" method="post" name="contactform" data-success-msg="Thank you! We will be in touch soon!" style="padding: 25px 30px 20px;">
                
                <%= recaptcha_action('form_fill') %>
                
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                
                <h4 style="padding-bottom: 20px; color: #0072b1;">Request A Callback</h4>
                
                <div class="form-group">
                    <input name="name" type="text" id="name" class="form-control" required="true" placeholder="Enter your Name">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" id="phone" pattern="\d{10}" required="true" placeholder="Phone">
                </div>
                
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" required="true" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
                
                <div class="form-group">
                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Your Message"></textarea>
                </div>
                
                <input type="submit" value="Submit" id="submit" class="btn btn pull-left" style="background: #0072b1; color: white;">
            </form>
        </div>
    </div>
</div>